<%- include("_header") -%>
<h2>Create Customer</h2>
<form action="/create" method="POST">
    <table>
        <tr>
            <td><label for="cusId">ID</label>:</td>
            <td><input type="number" name="cusId" id="cusId"  value="<%= cusid %>" required  <% if( type == 'post' ) { %> readonly disabled <% } %> /></td>
            <td>(required)</td>
        </tr>
        <tr>
            <td><label for="cusFname">First Name</label>:</td>
            <td><input type="text" name="cusFname" id="cusFname" value="<%= cusfname %>" required  <% if( type == 'post' ) { %> readonly disabled <% } %> /></td>
            <td>(required)</td>
        </tr>
        <tr>
            <td><label for="cusLname">Last Name</label>:</td>
            <td><input type="text" name="cusLname" id="cusLname" value="<%= cuslname %>" required  <% if( type == 'post' ) { %> readonly disabled <% } %> /></td>
            <td>(required)</td>
        </tr>
        <tr>
            <td><label for="cusState">State</label>:</td>
            <td><input type="text" name="cusState" id="cusState" value="<%= cusstate %>" pattern="[a-zA-Z]{2}" title="State should be 2 letters only"  <% if( type == 'post' ) { %> readonly disabled <% } %> /></td>
            <td></td>
        </tr>
        <tr>
            <td><label for="cusSalesYTD">Sales YTD</label>:</td>
            <td><input type="text" name="cusSalesYTD" id="cusSalesYTD" value="<%= cussalesytd %>" <% if( type == 'post' ) { %> readonly disabled <% } %>  /></td>
            <td></td>
        </tr>
        <tr>
            <td><label for="cusSalesPrev">Sales Previous</label>:</td>
            <td><input type="text" name="cusSalesPrev" id="cusSalesPrev" value="<%= cussalesprev %>"  <% if( type == 'post' ) { %> readonly disabled <% } %> /></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <input type="submit" value="Save" />
                <input type="reset" value="Reset" />
            </td>
        </tr>
    </table>
</form>

<%= message %>
<%- include("_footer") -%>   